<% if user_signed_in? %>
    <%= render "users/user" %>
<% else %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Park My Auto</h1>
    <p class="lead">Simply add your auto, we take care of the rest!</p>
      <div class="row">
            <div class="col-6"><h4><%= link_to "Register", new_user_registration_path, class: "nav-link" %></h4></div><div class="col-6"><h4><%= link_to "Log in", new_user_session_path, class: "nav-link" %></h4></div>
            </div>
  </div>
</div>
       
         

<% end %>

<!--
 
-->