<div class="col-12">
<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= link_to "Vehicle index", vehicle_path(vehicle.id) %></h5>
   
    <p class="card-text"><%= vehicle.license_plate %></p>
    <span><a href="#">Edit</a>  |   <a href="#">Delete</a></span>
  </div>
</div>
</div>